


body{
    background-color:#edf0f4;
    position:relative;
    transition:0.25s;
}

*{
    margin:0;
    padding:0;
}

.game-theme-def{
    background-color:rgb(235, 245, 255);
}

.game-theme-lvl1{
    background-color:rgb(255, 200, 190);
}

.game-theme-lvl2{
    background-color:rgb(230, 230, 200);
}

.game-theme-lvl3{
    background-color:rgb(255, 110, 110);
}

.game-theme-lvl4{
    background-color:rgb(40, 90, 255);
}

.game-theme-lvl5{
    background-color:rgb(80, 200, 255);
}

.game-theme-lvl6{
    background-color:rgb(70, 90, 100);
}