/* 
    Rapid Core - created by Uverit
    Do not copy or distribute
*/

    /* Media breakpoints */
    /* Width: 1440, 1200, 1024, 900, 768, 540, 440, 320 */



    /* Body & Wrapper */

body{
    background:var(--colorGrad1);
    padding:0 var(--size6);
}

body:after{
    content:"";
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    opacity:0.05;
    background-color:var(--mainColor);
    transition:var(--trans4);
}

#app{
    padding:var(--size8) 0;
    display:flex;
    flex-direction:column;
    gap:var(--size8);
}

.wrapper{
    width:min(1024px, 100%);
    margin:0 auto;
    padding:var(--size6);

    position:relative;
    display:flex;
    flex-direction:column;

    background:var(--colorGrad2),
        url("../img/noise-texture.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    box-shadow:inset 0 0 20px 0 rgb(125, 125, 125, 0.15),
        0 0 20px 0 rgb(0, 0, 0, 0.2) !important;
    border-radius:var(--size4) !important;
    z-index:100;

}

footer.wrapper{
    z-index:95;
}

.wrapper-bg{
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    backdrop-filter:blur(10px);
    background:var(--mainGrad1);
    border-radius:var(--size4);
    
    transition:var(--trans4);
    z-index:-1;
}



    /* Glass Border */

.time-btn,
.audio-player,
.glass-border{
    --border:2px;
    
    position:relative;
    border:none;
    border-radius:var(--size2);
    box-shadow:inset 0 0 5px 0 rgb(125, 125, 125, 0.15),
        0 0 5px 0 rgb(0, 0, 0, 0.2);

    &:before{
        content:"";
        padding:var(--border);
        position:absolute;
        
        inset:calc(-1 * var(--border));
        mask:linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        -webkit-mask:linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        -webkit-mask-composite:xor;
        mask-composite:exclude;

        pointer-events:none;
    }
}

.glass-border{
    box-shadow:inset 0 0 20px 0 rgb(125, 125, 125, 0.15),
        0 0 20px 0 rgb(0, 0, 0, 0.2) !important;
    border-radius:var(--size4) !important;

    &:before{
        border-radius:calc(var(--border) + var(--size4));
        background:linear-gradient(to bottom right,
            var(--mainBorder1a), var(--mainBorder1b));
    }

}



    /* Buttons & Audio Player */

.time-btn,
.audio-player{
    padding:var(--size3);

    background:linear-gradient(to bottom right,
        var(--mainBg2a), var(--mainBg2b)),
        url("../img/noise-texture2.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    line-height:1;
    transition:var(--trans2);
    cursor:pointer;

    &:not(.audio-player):hover,
    &:not(.audio-player):hover:before{
        filter:brightness(150%);
    }

    &:before{
        background:linear-gradient(to bottom right,
            var(--mainBorder2a), var(--mainBorder2b));
        border-radius:calc(var(--border) + var(--size2));
    }

}



    /* Audio Player */

.audio-player{
    flex:1;

    display:flex;
    flex-wrap:wrap;

    justify-content:space-between;
    align-items:center;

    row-gap:var(--size4);
    column-gap:var(--size3);

    cursor:auto;
}

.audio-settings{
    height:84px;
    max-height:84px;
    row-gap:var(--size1);
    column-gap:var(--size6);

    & .audio-label{
        width:100%;
    }

    & .volume-slider{
        flex:1;
        width:auto;
    }

}

        /* Panel */

.audio-panel{
    width:min(200px, 100%);
    display:flex;
    flex-direction:column;
    gap:var(--size4);
}

.audio-buttons{
    display:flex;
    justify-content:center;
    gap:var(--size6);
}

.audio-icon{
    width:var(--size5);
    aspect-ratio:1/1;

    display:flex;
    justify-content:center;
    align-items:center;

    background-color:transparent;
    border:none;
    cursor:pointer;

    & :is(div, svg){
        width:100%;
        height:100%;
    }

    & svg *{
        transition:var(--trans1);
    }

    &:hover svg *:not(.sound-path-elem){
        fill:#FFF;
    }

    &.next-track{
        transform:rotate(180deg);
    }
    
    &.mute-btn{
        position:relative;
    
        &:after{
            content:"";
            width:0;
            height:2px;
    
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
    
            background-color:#F00;
            transition:var(--trans1);
        }
    
        &.muted-icon-active:after{
            width:141%;
            transform:translate(-50%, -50%) rotate(-45deg);
        }
    
    }

}

            /* Volume */

.volume-section{
    width:78px;
    height:var(--size7);

    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:var(--size1);

    & .audio-icon{
        height:100%;
        aspect-ratio:1/1;

        display:flex;
        justify-content:center;
        align-items:center;

        & :is(div, svg){
            width:100%;
            height:100%;
        }

        & svg *{
            transition:var(--trans1);
        }

    }

    & p{
        width:50px;
        margin-bottom:-3px;
        text-align:end;
    }

}

.volume-slider{
    width:100%;
    height:var(--size1);
    margin:calc((var(--size4) - var(--size1) + 4px) / 2) 0;
    position:relative;

    appearance:none;
    -webkit-appearance:none;
    background-color:transparent;
    cursor:pointer;

    &:before{
        content:"";
        width:var(--musicVol);
        height:100%;

        position:absolute;
        top:0;
        left:0;

        display:block;
        background:var(--mainColor);
        border-radius:200px;
    }

    .audio-settings &:before{
        width:var(--masterVol);
    }

    &::-webkit-slider-runnable-track{
        width:100%;
        height:100%;

        background:rgb(255,255,255,0.8);
        border-radius:200px;
    }

    &::-webkit-slider-thumb{
        width:calc(var(--size4) + 4px);
        aspect-ratio:1/1;
        margin-top:calc(-1 * ((var(--size4) - var(--size1)) / 2) - 2px);
        position:relative;

        appearance:none;
        -webkit-appearance:none;

        background-color:var(--mainColor);
        border:solid 2px #FFF;
        border-radius:50%;
        transition:var(--trans1)
    }

    &:hover::-webkit-slider-thumb{
        background-color:#FFF;
    }

}